     <!-- Incia Sección de Carteras-->
     <li>
        <details class="group [&_summary::-webkit-details-marker]:hidden">
          <summary
            class="flex cursor-pointer items-center justify-between rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700">
            <span class="flex font-medium text-sm">
              <img
                src="assets/icons/settings.svg"
                class="mr-2"
                title="Configuración"
                alt="Configuración"
              />
              <span class="self-center">Configuración</span>
            </span>
            <span
              class="shrink-0 transition duration-300 group-open:-rotate-180"
            >
              <img src="assets/icons/stat_minus_1.svg" />
            </span>
          </summary>

          <ul class="mt-2 space-y-1 px-4">
            <li>
              <a
                href="#" routerLink="add-pers" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ariaCurrentwhenActive="page"
                class="block rounded-lg px-8 py-2 font-medium text-sm text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                >Roles</a
              >
            </li>

            <li>
              <a
                href="#"
                class="block rounded-lg px-8 py-2 font-medium text-sm text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                >Usuarios</a
              >
            </li>

           
          </ul>
        </details>           
      </li>
      <!-- Termina Sección de 