<div class="flex items-center justify-center p-2 mt-[-20px]">
    <div class="mx-auto w-full max-w-[850px] bg-white p-8 rounded-lg shadow-md">
        <form>

            <div class="-mx-3 flex flex-wrap">
                <!-- Razon Social -->
                <div class="w-full px-3 sm:w-2/3">
                    <div class="mb-5">
                        <label for="razonSocial" class="mb-1 block text-base">
                            Razón Social
                        </label>
                        <input type="text" name="razonSocial" id="razonSocial" placeholder=""
                            class="w-full rounded-md border border-gray-300 bg-white p-1.5 text-base font-medium text-gray-600 outline-none focus:border-blue-500 focus:shadow-md" />
                    </div>
                </div>

                <!-- RFC -->
                <div class="w-full px-3 sm:w-1/3">
                    <div class="mb-5">
                        <label for="rfc" class="mb-1 block text-base">
                            R.F.C.
                        </label>
                        <input type="text" name="rfc" id="rfc" placeholder=""
                            class="w-full rounded-md border border-gray-300 bg-white p-1.5 text-base font-medium text-gray-600 outline-none focus:border-blue-500 focus:shadow-md" />
                    </div>
                </div>
            </div>

            <div class="-mx-3 flex flex-wrap">
                <!-- Apellido Paterno -->
                <div class="w-full px-3 sm:w-1/3">
                    <div class="mb-5">
                        <label for="aPaterno" class="mb-1 block text-base">
                            Apellido Paterno
                        </label>
                        <input type="text" name="aPaterno" id="aPaterno" placeholder=""
                            class="w-full rounded-md border border-gray-300 bg-white p-1.5 text-base font-medium text-gray-600 outline-none focus:border-blue-500 focus:shadow-md" />
                    </div>
                </div>

                <!-- Apellido Materno -->
                <div class="w-full px-3 sm:w-1/3">
                    <div class="mb-5">
                        <label for="aMaterno" class="mb-1 block text-base">
                            Apellido Materno
                        </label>
                        <input type="text" name="aMaterno" id="aMaterno" placeholder=""
                            class="w-full rounded-md border border-gray-300 bg-white p-1.5 text-base font-medium text-gray-600 outline-none focus:border-blue-500 focus:shadow-md" />
                    </div>
                </div>

                <!-- Nombre -->
                <div class="w-full px-3 sm:w-1/3">
                    <div class="mb-5">
                        <label for="nombre" class="mb-1 block text-base">
                            Nombre
                        </label>
                        <input type="text" name="nombre" id="nombre" placeholder=""
                            class="w-full rounded-md border border-gray-300 bg-white p-1.5 text-base font-medium text-gray-600 outline-none focus:border-blue-500 focus:shadow-md" />
                    </div>
                </div>
            </div>

            <div class="-mx-3 flex flex-wrap">
                <!-- Calle -->
                <div class="w-full px-3 sm:w-2/3">
                    <div class="mb-5">
                        <label for="calle" class="mb-1 block text-base">
                            Calle
                        </label>
                        <input type="text" name="calle" id="calle" placeholder=""
                            class="w-full rounded-md border border-gray-300 bg-white p-1.5 text-base font-medium text-gray-600 outline-none focus:border-blue-500 focus:shadow-md" />
                    </div>
                </div>

                <!-- Número Exterior -->
                <div class="w-full px-3 sm:w-1/6">
                    <div class="mb-5">
                        <label for="numExterior" class="mb-1 block text-base">
                            # Exterior
                        </label>
                        <input type="text" name="numExterior" id="numExterior" placeholder=""
                            class="w-full rounded-md border border-gray-300 bg-white p-1.5 text-base font-medium text-gray-600 outline-none focus:border-blue-500 focus:shadow-md" />
                    </div>
                </div>

                <!-- Número Interior -->
                <div class="w-full px-3 sm:w-1/6">
                    <div class="mb-5">
                        <label for="numInterior" class="mb-1 block text-base">
                            # Interior
                        </label>
                        <input type="text" name="numInterior" id="numInterior" placeholder=""
                            class="w-full rounded-md border border-gray-300 bg-white p-1.5 text-base font-medium text-gray-600 outline-none focus:border-blue-500 focus:shadow-md" />
                    </div>
                </div>
            </div>

            <div class="-mx-3 flex flex-wrap">
                <!-- Código Postal -->
                <div class="w-full px-3 sm:w-1/6">
                    <div class="mb-5">
                        <label for="codigoPostal" class="mb-1 block text-base">
                            Código Postal
                        </label>
                        <input type="text" name="codigoPostal" id="codigoPostal" placeholder=""
                            class="w-full rounded-md border border-gray-300 bg-white p-1.5 text-base font-medium text-gray-600 outline-none focus:border-blue-500 focus:shadow-md" />
                    </div>
                </div>

                <!-- Municipio / Delegación -->
                <div class="w-full px-3 sm:w-1/3">
                    <div class="mb-5">
                        <label for="municipioDelegacion" class="mb-1 block text-base">
                            Municipio / Delegación
                        </label>
                        <input type="text" name="municipioDelegacion" id="municipioDelegacion" placeholder=""
                            class="w-full rounded-md border border-gray-300 bg-white p-1.5 text-base font-medium text-gray-600 outline-none focus:border-blue-500 focus:shadow-md" />
                    </div>
                </div>

                <!-- Colonia -->
                <div class="w-full px-3 sm:w-1/3">
                    <div class="mb-5">
                        <label for="colonia" class="mb-1 block text-base">
                            Colonia
                        </label>
                        <input type="text" name="colonia" id="colonia" placeholder=""
                            class="w-full rounded-md border border-gray-300 bg-white p-1.5 text-base font-medium text-gray-600 outline-none focus:border-blue-500 focus:shadow-md" />
                    </div>
                </div>

                <!-- Estado -->
                <div class="w-full px-3 sm:w-1/6">
                    <div class="mb-5">
                        <label for="estado" class="mb-1 block text-base">
                            Estado
                        </label>
                        <input type="text" name="estado" id="estado" placeholder=""
                            class="w-full rounded-md border border-gray-300 bg-white p-1.5 text-base font-medium text-gray-600 outline-none focus:border-blue-500 focus:shadow-md" />
                    </div>
                </div>
            </div>

            <div class="-mx-3 flex flex-wrap">
                <!-- Correo Electrónico -->
                <div class="w-full px-3 sm:w-1/3">
                    <div class="mb-5">
                        <label for="email" class="mb-1 block text-base">
                            Correo Electrónico
                        </label>
                        <input type="email" name="email" id="email" placeholder=""
                            class="w-full rounded-md border border-gray-300 bg-white p-1.5 text-base font-medium text-gray-600 outline-none focus:border-blue-500 focus:shadow-md" />
                    </div>
                </div>

                <!-- Teléfono -->
                <div class="w-full px-3 sm:w-1/3">
                    <div class="mb-5">
                        <label for="telefono" class="mb-1 block text-base">
                            Teléfono
                        </label>
                        <input type="tel" name="telefono" id="telefono" placeholder=""
                            class="w-full rounded-md border border-gray-300 bg-white p-1.5 text-base font-medium text-gray-600 outline-none focus:border-blue-500 focus:shadow-md" />
                    </div>
                </div>
            </div>

            <div>
                <!-- Botones de Acción -->
                <button type="submit"
                    class="hover:shadow-form rounded-md bg-blue-600 py-3 px-8 text-center text-base font-semibold text-white outline-none mr-4">
                    Registrar
                </button>
                <button type="reset"
                    class="hover:shadow-form rounded-md bg-gray-500 py-3 px-8 text-center text-base font-semibold text-white outline-none">
                    Reset
                </button>
            </div>
        </form>
    </div>
</div>
